version: "3.9"

services:
  backend:
    build:
      context: ./poke-backend
      dockerfile: Dockerfile
    working_dir: /app
    command: npm run dev
    ports:
      - "3000:3000"
    env_file:
      - ./poke-backend/.env
    volumes:
      - ./poke-backend:/app
      - /app/node_modules

  client:
    build:
      context: ./poke-client
      dockerfile: Dockerfile
    working_dir: /app
    command: npm run dev -- --host 0.0.0.0 --port 5173
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE_URL=http://localhost:3000
    volumes:
      - ./poke-client:/app
      - /app/node_modules
    depends_on:
      - backend

