# fly.toml app configuration file generated for pokewiki-api on 2026-02-20T04:36:16+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pokewiki-api'
primary_region = 'ord'

[build]

[env]
  DATABASE_PATH = '/data/pokemon.db'
  PORT = '8080'

[[mounts]]
  source = 'pokewiki_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
